body {
    padding: 0;
    margin: 0;
    background-color: yellow;
    font-family: arial;
}
#title {
    width: 30%;
    display: block;
    margin: auto;
}
@media only screen and (max-width: 1000px) {
    #title {
        width: 50%;
    }
}
@media only screen and (max-width: 500px) {
    #title {
        width: 100%;
    }
}
#nav {
    width: 100%;
    background-color: #f80;
}
#nav button {
    background-color: #f80;
    padding: 8px;
    border: none;
    border-radius: 0px;
    color: black;
    font-size: 15px;
    cursor: pointer;
}
#nav button:hover {
    background-color: #ff0;
}
@media only screen and (max-width: 600px) {
    #nav button {
        width: 100%;
    }
}
.c {
    text-align: center;
}
#nk {
    width: 100%;
    float: left;
    display: table;
}
.news {
    width: 70%;
    display: block;
    background-color: #f80;
    display: table-cell;
}
.kkk {
    width: 30%;
    display: block;
    background-color: #f50;
    display: table-cell;
}
@media only screen and (max-width: 600px) {
    #nk {
        display: block;
    }
    .news, .kkk {
        display: block;
        width: 100%;
    }
}
.new {
    background-color: #ff0;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    box-sizing: border-box;
}
.new-time {
    color: #aaa;
}
.a {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    text-decoration: none;
    transition: 500ms;
}
.a:hover {
    background-color: yellow;
    color: black;
}
.footer {
    background-color: #f80;
}
.copr {
    color: #555;
    text-align: center;
    font-size: 15px;
}
#selects {
    background-color: #f80;
    padding: 10px;
    border-radius: 10px;
}
#selects img {
    width: 50%;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #f50;
    cursor: pointer;
}
@media only screen and (max-width: 1000px) {
    #selects img {
        width: 75%;
    }
}
@media only screen and (max-width: 500px) {
    #selects img {
        width: 100%;
    }
}
.ad {
    height: 200px;
}
#kkkk {
    border: none;
    width: 100%;
    height: 300vh;
}
.s {
    font-size: 30px;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}
