#texta {
  width: 100%;
  resize: none;
  min-height: 100px;
  background-color: orange;
  border: 2px solid red;
  outline: none;
  padding: 10px;
}
#texta:focus {
  border: 2px solid white;
}
.inp {
  width: 100%;
  resize: none;
  background-color: orange;
  border: 2px solid red;
  outline: none;
  padding: 10px;
}
.inp:focus {
  border: 2px solid white;
}
#btn {
  background-color: orange;
  border: 2px solid red;
  padding: 10px;
  width: 100%;
  outline: none;
}
#btn:focus {
  border: 2px solid white;
}
#btnr {
  background-color: red;
  border: 2px solid orange;
  padding: 10px;
  width: 100%;
  outline: none;
  color: white; 
}
#btnr:focus {
  border: 2px solid white;
}
.hide {display: none;}
