.c {
  text-align: center;
}
body {
  background-color: yellow;
  font-family: arial;
  margin: 0px;
}
.nav {
  background-color: orange;
  display: block;
  overflow: hidden;
}
.nav a {
  padding: 10px 10px;
  float: left;
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.nav a:hover {
  background-color: yellow;
}
