body {
    font-family: 'Arial', sans-serif; }
  
  * {
    box-sizing: border-box; }
  
  a, a:visited {
    color: #1526b4; }
  
  .user_panel {
    height: 25px;
    position: absolute;
    top: 5px;
    left: 50%;
    width: 50%;
    min-width: 500px; }
  
  .top_nav {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em; }
    .top_nav li {
      display: inline-block;
      text-align: center; }
  
  .top {
    height: 100px;
    white-space: nowrap; }
  
  .masthead {
    vertical-align: top;
    width: 200px;
    height: 60px;
    min-width: 150px;
    display: inline-block; }
    .masthead a > img {
      width: 160px; }
  
  .search {
    display: inline-block;
    width: 70%;
    height: 80px;
    display: inline-block;
    min-width: 800px; }
    .search .fields {
      display: block;
      position: relative;
      top: 50%; }
      .search .fields input {
        display: inline-block; }
      .search .fields input[type="text"] {
        width: 200px;
        height: 20px; }
      .search .fields input[type="button"] {
        font-size: 1.2em;
        height: 20px; }
      .search .fields .search_links {
        font-size: 0.8em;
        display: block;
        position: relative;
        top: 5px; }
  
  .toolbar {
    height: 30px; }
    .toolbar .fields {
      width: 100%; }
      .toolbar .fields button {
        display: inline-block;
        width: 100px; }
      .toolbar .fields button.archive {
        font-weight: bold; }
      .toolbar .fields .count {
        float: right;
        font-size: 0.9em;
        padding: 2px 5px 0 0; }
      .toolbar .fields .refresh {
        font-size: 0.8em; }
    .toolbar .selectors {
      margin: 5px 0;
      font-size: 0.9em; }
      .toolbar .selectors a {
        text-decoration: none; }
  
  .main {
    width: 100%;
    white-space: nowrap;
    margin-top: 10px; }
  
  .left {
    display: inline-block;
    width: 12%;
    min-width: 150px; }
    .left .nav {
      list-style: none;
      padding: 0;
      margin: 0; }
      .left .nav li {
        padding: 1% 4%;
        border-radius: 4px;
        font-size: 0.95em; }
      .left .nav li.active {
        background: #bfd4ee;
        font-weight: bold; }
      .left .nav li.compose {
        padding-bottom: 10px;
        font-weight: bold; }
  
  .middle {
    display: inline-block;
    width: 70%;
    min-width: 800px;
    background-color: #bfd4ee;
    border-radius: 5px;
    vertical-align: top;
    margin-left: -10px;
    padding: 0.1% 0 1% 0.5%; }
  
  .emails {
    list-style: none;
    margin: 2% 0 0 0;
    padding: 0; }
    .emails li {
      background: #eaedf4;
      height: 25px;
      font-size: 0.9em;
      padding: 2px 10px;
      border-bottom: 1px solid #ccc; }
      .emails li .check {
        display: inline-block;
        vertical-align: top;
        width: 16px;
        height: 16px; }
      .emails li .star {
        background-image: url("/static/img/unstarred.png");
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        vertical-align: top;
        position: relative;
        top: 1px;
        cursor: pointer; }
      .emails li .star_unread {
        background-image: url("/static/img/unstarred_unread.png"); }
      .emails li div {
        vertical-align: top;
        display: inline-block;
        padding-top: 1px; }
      .emails li div.sender {
        width: 100px; }
      .emails li div.subject {
        margin-left: 20%; }
      .emails li div.snippet {
        color: #666;
        max-width: 55%;
        overflow: hidden; }
      .emails li div.subject_area {
        width: 550px;
        overflow: hidden; }
      .emails li div.timestamp {
        float: right; }
    .emails .unread_email {
      background-color: #fff; }
  
  .unread {
    font-weight: bold; }
  
  .labels {
    width: 90%;
    margin: 10px 0 0 0;
    padding: 0 0 2% 0;
    list-style: none;
    border: 3px solid #9bf7b8;
    border-radius: 5px; }
    .labels h4 {
      margin: 0;
      padding: 0;
      background: #9bf7b8;
      font-size: 0.9em;
      font-weight: 300; }
      .labels h4 i {
        display: inline-block;
        background-image: url("/static/img/arrow.png");
        width: 14px;
        height: 14px;
        margin-right: 5px; }
    .labels li {
      padding: 0 2% 0 2%; }
    .labels li a {
      font-size: 0.8em;
      color: #1d5b47; }
      .labels li a:visited {
        color: #1d5b47; }
    .labels .edit_label {
      text-align: right; }